.footer {
    position: relative;
    background-image: linear-gradient(
            rgb(77, 150, 169, 0.85),
            rgb(77, 150, 169, 0.85)
        ),
        url(./assets/mobile/image-footer.jpg);
    background-position: center;
    background-size: cover;
    padding: 92px 24px 72px 24px;
    text-align: center;

    @media only screen and (min-width: 768px) {
        background-image: linear-gradient(
                rgb(77, 150, 169, 0.85),
                rgb(77, 150, 169, 0.85)
            ),
            url(./assets/tablet/image-footer.jpg);
        padding: 92px 24px 66px 24px;
    }

    @media only screen and (min-width: 1300px) {
        text-align: left;

        background-image: linear-gradient(
                rgb(77, 150, 169, 0.85),
                rgb(77, 150, 169, 0.85)
            ),
            url(./assets/desktop/image-footer.jpg);
        padding: 116px 165px 104px 165px;
    }

    &__num {
        position: absolute;
        top: -28px;
        left: 50%;
        transform: translateX(-50%);
    }

    &__content-wrapper {
        width: 327px;
        margin: 0 auto;

        color: #fafafa;

        @media only screen and (min-width: 768px) {
            width: 573px;
        }

        @media only screen and (min-width: 1300px) {
            width: revert;
            display: flex;
            align-items: center;

            .btn {
                display: flex;
                gap: 6px;
                align-self: center;
                margin-left: auto;
            }
        }
    }

    &__h2 {
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        margin-bottom: 24px;

        @media only screen and (min-width: 768px) {
            font-size: 40px;
            line-height: 44px;
            margin: 0 50px 32px 50px;
        }

        @media only screen and (min-width: 1300px) {
            width: 350px;
            margin: 0;
            margin-right: 125px;
        }
    }

    &__text {
        font-weight: 500;
        font-size: 18px;
        line-height: 26px;
        margin-bottom: 32px;

        @media only screen and (min-width: 768px) {
            margin-left: 0;
            margin-bottom: 40px;
        }

        @media only screen and (min-width: 1300px) {
            margin: 0;
            width: 350px;
        }
    }
}
