.header {
    text-align: center;
    margin-bottom: 148px;

    @media only screen and (min-width: 768px) {
        margin-bottom: 164px;
    }

    // LOGO
    &__logo-wrapper {
        margin-top: 48px;
        margin-bottom: 54px;
        height: 28px;

        @media only screen and (min-width: 500px) {
            margin-bottom: 64px;
        }

        @media only screen and (min-width: 1300px) {
            margin-top: 80px;
            margin-bottom: 61px;
        }
    }

    // IMAGES
    &__img-wrapper {
        position: relative;
        margin: 0 auto;
        width: 375px;
        height: 153px;
        display: flex;
        margin-bottom: 48px;

        @media only screen and (min-width: 500px) {
            margin-bottom: 72px;
        }

        @media only screen and (min-width: 768px) {
            width: 768px;
            height: 303px;
        }

        @media only screen and (min-width: 1440px) {
            width: 1440px;
            margin: 0 auto;
            height: revert;
            display: revert;
        }
    }

    &__img-left,
    &__img-right {
        height: 100%;

        @media only screen and (min-width: 1440px) {
            position: absolute;
            height: 303px;
        }
    }

    &__img-left {
        margin-left: -19.5px;
        margin-right: 15px;

        @media only screen and (min-width: 768px) {
            margin-right: 25px;
            margin-left: -23px;
        }

        @media only screen and (min-width: 1440px) {
            left: 0;
            margin-left: -32px;
        }
    }

    &__img-right {
        @media only screen and (min-width: 1440px) {
            right: 0;
            margin-right: -32px;
        }
    }

    // TEXT
    &__content-wrapper {
        @media only screen and (min-width: 1300px) {
            padding-top: 47px;
            width: 540px;
            margin: 0 auto;
        }
    }

    &__h1 {
        width: 327px;
        margin: 0 auto;
        padding: 0 20px;
        margin-bottom: 24px;

        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
        color: #28283d;

        @media only screen and (min-width: 768px) {
            width: 350px;
            font-size: 48px;
            line-height: 48px;
        }

        @media only screen and (min-width: 1300px) {
            margin-left: 20px;
            margin-right: 20px;
            width: revert;
            margin-bottom: 34px;
            font-size: 64px;
            line-height: 64px;
        }
    }

    &__text {
        width: 327px;
        margin: 0 auto;

        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #87879d;

        @media only screen and (min-width: 768px) {
            width: 457px;
        }

        @media only screen and (min-width: 1300px) {
            width: revert;
            font-size: 18px;
        }
    }

    // BTN BOX
    &__btns-wrapper {
        margin-top: 32px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;

        @media only screen and (min-width: 500px) {
            justify-content: center;
            flex-direction: row;
            align-items: revert;
        }

        @media only screen and (min-width: 1300px) {
            padding-bottom: 7px;
        }
    }
}
