.num {
    width: 56px;
    height: 56px;
    padding: 15px;

    text-align: center;
    font-weight: 900;
    color: #87879d;

    border-radius: 50%;
    border: 1px solid rgba(135, 135, 157, 0.25);
    background-color: #fff;
    margin: 0 auto;

    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: -85px;
        left: 50%;
        transform: translateX(-50%);

        width: 1px;
        height: 84px;
        background-color: rgba(135, 135, 157, 0.25);
    }
}
