.demo {
    margin-bottom: 176px;

    @media only screen and (min-width: 768px) {
        margin: 0 auto;
        margin-bottom: 192px;
        width: 689px;
    }

    &__img-wrapper {
        margin: 64px auto;

        width: 327px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        column-gap: 25px;
        row-gap: 24px;

        @media only screen and (min-width: 768px) {
            width: revert;
            margin: 67px auto 48px auto;
            grid-template-rows: revert;
            row-gap: revert;
            grid-template-columns: repeat(4, 1fr);
            column-gap: 11px;
            justify-items: center;
        }
    }

    &__img {
        width: 151px;
        height: 143px;
        border-radius: 8px;

        @media only screen and (min-width: 768px) {
            width: 164px;
            height: 156px;
        }
    }

    &__text-wrapper {
        text-align: center;
        width: 327px;
        margin: 0 auto;

        @media only screen and (min-width: 768px) {
            width: 573px;
        }
    }

    &__up-heading {
        color: #4d96a9;
        text-transform: uppercase;
        font-weight: 900;
        letter-spacing: 4px;
        margin-bottom: 24px;
    }

    &__h2 {
        font-weight: 900;
        font-size: 32px;
        line-height: 36px;
        color: #28283d;
        margin-bottom: 32px;

        @media only screen and (min-width: 768px) {
            line-height: 44px;
            font-size: 40px;
            margin: 0 64px 32px 64px;
        }
    }

    &__text {
        font-size: 16px;
        font-weight: 500;
        line-height: 26px;
        color: #87879d;
    }
}
