* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

input,
button,
textarea,
select {
  font: inherit;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Red Hat Display";
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  background-color: #fbfbfb;
}

.main {
  margin: 0 24px;
}
@media only screen and (min-width: 768px) {
  .main {
    margin: 0 40px;
  }
}

.btn {
  color: #fff;
  font-size: 16px;
  font-weight: 900;
  letter-spacing: 0.5px;
  padding: 16px 29px;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: background-color 0.15s, transform 0.15s;
}
.btn:active {
  transform: scale(0.95);
}
.btn--green {
  background-color: #4d96a9;
}
.btn--green:hover {
  background-color: #71c0d4;
}
.btn--purple {
  background-color: #855fb1;
}
.btn--purple:hover {
  background-color: #b18bdd;
}
.btn--big {
  padding: 16px 40px;
}
.btn--v {
  color: #8fe3f9;
  margin-left: 5px;
}
.btn--g {
  color: #d9b8ff;
}

.num {
  width: 56px;
  height: 56px;
  padding: 15px;
  text-align: center;
  font-weight: 900;
  color: #87879d;
  border-radius: 50%;
  border: 1px solid rgba(135, 135, 157, 0.25);
  background-color: #fff;
  margin: 0 auto;
  position: relative;
}
.num::before {
  content: "";
  position: absolute;
  top: -85px;
  left: 50%;
  transform: translateX(-50%);
  width: 1px;
  height: 84px;
  background-color: rgba(135, 135, 157, 0.25);
}

.header {
  text-align: center;
  margin-bottom: 148px;
}
@media only screen and (min-width: 768px) {
  .header {
    margin-bottom: 164px;
  }
}
.header__logo-wrapper {
  margin-top: 48px;
  margin-bottom: 54px;
  height: 28px;
}
@media only screen and (min-width: 500px) {
  .header__logo-wrapper {
    margin-bottom: 64px;
  }
}
@media only screen and (min-width: 1300px) {
  .header__logo-wrapper {
    margin-top: 80px;
    margin-bottom: 61px;
  }
}
.header__img-wrapper {
  position: relative;
  margin: 0 auto;
  width: 375px;
  height: 153px;
  display: flex;
  margin-bottom: 48px;
}
@media only screen and (min-width: 500px) {
  .header__img-wrapper {
    margin-bottom: 72px;
  }
}
@media only screen and (min-width: 768px) {
  .header__img-wrapper {
    width: 768px;
    height: 303px;
  }
}
@media only screen and (min-width: 1440px) {
  .header__img-wrapper {
    width: 1440px;
    margin: 0 auto;
    height: revert;
    display: revert;
  }
}
.header__img-left, .header__img-right {
  height: 100%;
}
@media only screen and (min-width: 1440px) {
  .header__img-left, .header__img-right {
    position: absolute;
    height: 303px;
  }
}
.header__img-left {
  margin-left: -19.5px;
  margin-right: 15px;
}
@media only screen and (min-width: 768px) {
  .header__img-left {
    margin-right: 25px;
    margin-left: -23px;
  }
}
@media only screen and (min-width: 1440px) {
  .header__img-left {
    left: 0;
    margin-left: -32px;
  }
}
@media only screen and (min-width: 1440px) {
  .header__img-right {
    right: 0;
    margin-right: -32px;
  }
}
@media only screen and (min-width: 1300px) {
  .header__content-wrapper {
    padding-top: 47px;
    width: 540px;
    margin: 0 auto;
  }
}
.header__h1 {
  width: 327px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #28283d;
}
@media only screen and (min-width: 768px) {
  .header__h1 {
    width: 350px;
    font-size: 48px;
    line-height: 48px;
  }
}
@media only screen and (min-width: 1300px) {
  .header__h1 {
    margin-left: 20px;
    margin-right: 20px;
    width: revert;
    margin-bottom: 34px;
    font-size: 64px;
    line-height: 64px;
  }
}
.header__text {
  width: 327px;
  margin: 0 auto;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #87879d;
}
@media only screen and (min-width: 768px) {
  .header__text {
    width: 457px;
  }
}
@media only screen and (min-width: 1300px) {
  .header__text {
    width: revert;
    font-size: 18px;
  }
}
.header__btns-wrapper {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
@media only screen and (min-width: 500px) {
  .header__btns-wrapper {
    justify-content: center;
    flex-direction: row;
    align-items: revert;
  }
}
@media only screen and (min-width: 1300px) {
  .header__btns-wrapper {
    padding-bottom: 7px;
  }
}

.demo {
  margin-bottom: 176px;
}
@media only screen and (min-width: 768px) {
  .demo {
    margin: 0 auto;
    margin-bottom: 192px;
    width: 689px;
  }
}
@media only screen and (min-width: 1300px) {
  .demo {
    width: 1110px;
    margin-bottom: 184px;
  }
}
.demo__img-wrapper {
  margin: 64px auto;
  width: 327px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 25px;
  row-gap: 24px;
}
@media only screen and (min-width: 768px) {
  .demo__img-wrapper {
    width: revert;
    margin: 67px auto 48px auto;
    grid-template-rows: revert;
    row-gap: revert;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 11px;
    justify-items: center;
  }
}
@media only screen and (min-width: 1300px) {
  .demo__img-wrapper {
    column-gap: 30px;
    margin: 64px auto 80px auto;
  }
}
.demo__img {
  width: 151px;
  height: 143px;
  border-radius: 8px;
}
@media only screen and (min-width: 768px) {
  .demo__img {
    width: 164px;
    height: 156px;
  }
}
@media only screen and (min-width: 1300px) {
  .demo__img {
    width: 255px;
    height: 242px;
  }
}
.demo__text-wrapper {
  text-align: center;
  width: 327px;
  margin: 0 auto;
}
@media only screen and (min-width: 768px) {
  .demo__text-wrapper {
    width: 573px;
  }
}
.demo__up-heading {
  color: #4d96a9;
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .demo__up-heading {
    margin-bottom: 16px;
  }
}
.demo__h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  color: #28283d;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .demo__h2 {
    line-height: 44px;
    font-size: 40px;
    margin: 0 64px 32px 64px;
  }
}
.demo__text {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  color: #87879d;
}
@media only screen and (min-width: 1300px) {
  .demo__text {
    padding: 0 60px;
  }
}

.footer {
  position: relative;
  background-image: linear-gradient(rgba(77, 150, 169, 0.85), rgba(77, 150, 169, 0.85)), url(./assets/mobile/image-footer.jpg);
  background-position: center;
  background-size: cover;
  padding: 92px 24px 72px 24px;
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .footer {
    background-image: linear-gradient(rgba(77, 150, 169, 0.85), rgba(77, 150, 169, 0.85)), url(./assets/tablet/image-footer.jpg);
    padding: 92px 24px 66px 24px;
  }
}
@media only screen and (min-width: 1300px) {
  .footer {
    text-align: left;
    background-image: linear-gradient(rgba(77, 150, 169, 0.85), rgba(77, 150, 169, 0.85)), url(./assets/desktop/image-footer.jpg);
    padding: 116px 165px 104px 165px;
  }
}
.footer__num {
  position: absolute;
  top: -28px;
  left: 50%;
  transform: translateX(-50%);
}
.footer__content-wrapper {
  width: 327px;
  margin: 0 auto;
  color: #fafafa;
}
@media only screen and (min-width: 768px) {
  .footer__content-wrapper {
    width: 573px;
  }
}
@media only screen and (min-width: 1300px) {
  .footer__content-wrapper {
    width: revert;
    display: flex;
    align-items: center;
  }
  .footer__content-wrapper .btn {
    display: flex;
    gap: 6px;
    align-self: center;
    margin-left: auto;
  }
}
.footer__h2 {
  font-weight: 900;
  font-size: 32px;
  line-height: 36px;
  margin-bottom: 24px;
}
@media only screen and (min-width: 768px) {
  .footer__h2 {
    font-size: 40px;
    line-height: 44px;
    margin: 0 50px 32px 50px;
  }
}
@media only screen and (min-width: 1300px) {
  .footer__h2 {
    width: 350px;
    margin: 0;
    margin-right: 125px;
  }
}
.footer__text {
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 32px;
}
@media only screen and (min-width: 768px) {
  .footer__text {
    margin-left: 0;
    margin-bottom: 40px;
  }
}
@media only screen and (min-width: 1300px) {
  .footer__text {
    margin: 0;
    width: 350px;
  }
}

/*# sourceMappingURL=style.css.map */
